{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>4x4 MAX</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <style>
            html, body {
                height: 100%;
                margin: 0;
            }

            .page-wrapper {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }

            main.content {
                flex: 1;
            }
        </style>
    </head>
    <body>
        <div class="page-wrapper">

            {% include 'navbar.html' %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <main class="content">
                {% block content %}
                {% endblock %}
            </main>

<footer class="py-3 bg-dark">
    <div class="container position-relative">
        <!-- Texto en el centro -->
        <div class="text-center">
            <p class="m-0 text-white">Copyright &copy; 4x4MAX 2026</p>
            <p class="m-0 text-white mt-2">
                <small>
                    📍 Padre Mariano 391, local 704, Providencia, Santiago, Chile<br>
                    Escríbenos al correo  📧 contacto@4x4max.cl&nbsp; o WhatsApp&nbsp; <i class="bi bi-whatsapp"></i> +56 9 4181 5955
                </small>
            </p>
        </div>

        <!-- Imagen a la derecha (posición absoluta) -->
        <img src="/media/marketing/emblema_positivo.jpg" alt="Logo" style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); max-width: 120px; height: auto; border-radius: 15px;">
    </div>
</footer>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
